RENAME THIS FILE TO "env.properties", FILL IN USER AND PASSWORD, and REMOVE THIS LINE OF TEXT

POSTGRES_USER=...
POSTGRES_PASSWORD=...
DB_URL=jdbc:postgresql://localhost:5433/postgres
SPRING_PROFILE=dev